option_settings:
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: "develop"
    DATABASE_URL: "postgresql://postgres:HqYEvjt6WhIyaDuZxjzm@scale-diary-db-develop.cvs4eam02tzq.ap-northeast-2.rds.amazonaws.com:5432/scalediary"
    REDIS_URL: "scale-diary-cache-develop.9hs1lu.ng.0001.apn2.cache.amazonaws.com:6379"